.topo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.linha-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu {
    display: flex;
    gap: 28px;
}

.ações-topo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.principal-caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.principal-texto,
.principal-imagem {
    width: 50%;
}

.ações {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.numeros {
    display: flex;
    gap: 20px;
}

.principal-imagem {
    position: relative;
}

.cartão {
    position: absolute;
    right: -20px;
    bottom: 30px;
}

.grelha-vantagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grelha-planos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.plano ul {
    margin-bottom: 24px;
    line-height: 2;
}

.grelha-espacos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.espaço {
    display: flex;
    align-items: end;
}

.chamada {
    max-width: 720px;
}

.rodape-caixa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
